<div class="widgets">
    <div class="row">

        <div class="col-md-12">
            <div ba-panel ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Professor</th>
                                <th>Descrição do caso</th>
                                <th>Data</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in smartTableData" ng-click="openExercise(item)">
                                <td class="table-id">{{item.codExercise}}</td>
                                <td>{{item.codTeacher}}</td>
                                <td>{{item.caseDescription}}</td>
                                <td>{{item.dateCreate}}</td>
                                <td>{{item.status}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <!-- <tr>
                                <td colspan="6" class="text-center">
                                    <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                                </td>
                            </tr> -->
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div ba-panel ba-panel-title="Id turma logada" ba-panel-class="with-scroll">
                <form class="row">
                    <div class="form-group col-sm-3 col-xs-6">
                        <input type="number" class="form-control" ng-model="codTeam" placeholder="Cod. Turma Logada">
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="saveTeam(codTeam)">Salvar id
                        Professor</button>

                    <div class="form-group col-sm-3 col-xs-6">
                        <input type="number" class="form-control" ng-model="codStudent" placeholder="Numero aluno (1 ou 2)">
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="saveStudent(codStudent)">Salvar id Aluno</button>
                </form>
            </div>
        </div>
    </div>
</div>