<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-class="with-scroll">
                <h4>Caso</h4>
                {{exercise.caseDescription}}
                <div class="separator"></div>
                <h4>Petição Inicial</h4>
                {{exercise.initialPetition}}
            </div>
        </div>
        
        <div class="col-md-12" >
            <div ba-panel ba-panel-class="with-scroll" ba-panel-title="Enviar para aluno">
                <form>
                    <div class="form-group">
                        <textarea placeholder="Correção para o aluno..." class="form-control" ng-model="initialPetitionText"></textarea>
                    </div>
                    <div class="button-wrapper"><button type="button" class="btn btn-primary" ng-click="impugnar(initialPetitionText)">Impugnar</button></div>
                    <div class="button-wrapper"><button type="button" class="btn btn-primary" ng-click="sendCorrection(initialPetitionText)">Enviar correção</button></div>
                    <div class="button-wrapper"><button type="button" class="btn btn-primary" ng-click="approved()">Aprovada</button></div>
                </form>
            </div>
        </div>
    </div>
</div>