<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Postar Caso" ba-panel-class="with-scroll">
                <form>
                    <div class="form-group">
                        <label for="textarea01">Caso</label>
                        <textarea placeholder="" class="form-control" ng-model="classes.caseDescription" maxlength="4999"></textarea>
                    </div>

                    <div class="col-md-4" ng-repeat="item in classes">
                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" value="{{item.codTeam}}" ng-model="item.selected">
                            <span>{{item.discipline}} - {{item.year}}/{{item.semester}}</span>
                        </label>
                    </div>
                    <div class="button-wrapper"><button type="button" class="btn btn-primary" ng-click="saveCase(classes)">Postar</button></div>
                </form>
            </div>
        </div>
    </div>
</div>